[defaults]
host_key_checking = False
retry_files_enabled = False
roles_path = roles
library = library
callback_whitelist = timer, profile_tasks
stdout_callback = yaml
bin_ansible_callbacks = True

[inventory]
enable_plugins = aws_ec2, ini

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes
